@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import "logo.css";

#base {
    margin: 10% 30%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    border: 1px #E7E7EA solid;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.text {
    margin-left: 20%;
    margin-bottom: 5px;
}

#feed {
    font-size: 20px;
    margin-top: 20px;
}

input[type="text"],
textarea{
    border: 1px #E7E7EA solid;
    border-radius: 4px;
    width: 55%;
    box-sizing: border-box;
}

#review {
    height: 100px;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    resize: none;
}

#email{
    font-size: 16px;
    padding: 10px 0;
}

#wrong{
    color: red;
    display: none;
}

.buttons > button{
    border: 1px #E7E7EA solid;
    border-radius: 4px;
    background-color: white;
    color: black;
    width: 30%;
    padding: 10px 0;
    margin: 20px 0;
    transition: background-color .5s, color .5s;
    cursor: pointer;
}

.buttons > button:hover{
    background-color: #5168D2;
    color: white;
}

.buttons > button:last-child{
    margin-left: 35px;
}